https://github.com/TNTwise/realcugan-ncnn-py/releases/download/2024-04-22-rve/realcugan_ncnn_py-2.0.0-cp310-none-manylinux1_x86_64.whl
https://github.com/TNTwise/Universal-NCNN-upscaler-python/releases/download/2024-05-11-rve/upscale_ncnn_py-1.2.0-cp310-none-manylinux1_x86_64.whl
https://download.pytorch.org/whl/cu121/torch-2.2.0%2Bcu121-cp310-cp310-linux_x86_64.whl
https://github.com/TNTwise/rife-ncnn-vulkan-python-test/releases/download/disablesimplevk/rife_ncnn_vulkan_python-1.2.1-cp310-cp310-linux_x86_64.whl
spandrel
torchvision==0.17
fastrlock
https://github.com/pytorch/TensorRT/releases/download/v2.2.0/torch_tensorrt-2.2.0-cp310-cp310-manylinux_2_34_x86_64.whl
tensorrt==8.6.0
https://github.com/TNTwise/Rife-Vulkan-Models/releases/download/models/polygraphy-0.49.10-py2.py3-none-any.whl
onnx
onnxruntime
