sympy
tqdm
typing_extensions
packaging
requests
opencv-python-headless
pypresence
mpmath
pillow
numpy==2.2.2

ncnn
upscale_ncnn_py
rife-ncnn-vulkan-python-tntwise
scenedetect
torch==2.10.0
torchvision==0.25.0
einops
safetensors
torch_tensorrt==2.10.0
