sympy
tqdm
typing_extensions
packaging
requests
opencv-python-headless
pypresence
mpmath
pillow
numpy<=1.26.4
spandrel>=0.3.3
pyinstaller
pnnx
ncnn
upscale_ncnn_py
rife-ncnn-vulkan-python-tntwise
scenedetect
tensorrt==10.3.0
tensorrt_cu12==10.3.0
tensorrt-cu12_libs==10.3.0
tensorrt_cu12_bindings==10.3.0


--pre torch==2.5.0  --extra-index-url https://pypi.nvidia.com
--pre torchvision==0.20.0  --extra-index-url https://pypi.nvidia.com
--pre torch_tensorrt==2.5.0  --extra-index-url https://pypi.nvidia.com