sympy
tqdm
typing_extensions
packaging
requests
opencv-python-headless
pypresence
mpmath
pillow
numpy==2.2.2

cupy-cuda12x==13.3.0
ncnn
upscale_ncnn_py
rife-ncnn-vulkan-python-tntwise
scenedetect
torch==2.6.0
torchvision==0.21.0
einops
safetensors
torch_tensorrt==2.6.0
