:root {
  --primary-bg: rgb(21, 24, 29);
  --secondary-bg: rgb(31, 35, 44);
  --primary-widget: rgb(31, 35, 44);
  --secondary-widget: rgb(43, 49, 61);
  --text-color: white;
  --page-nav-size: 60px;
  --border: none;
  --border-radius: 8px;
  --speed: 500ms;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: var(--text-color);
  text-decoration: none;
}